@import url(common.css);

.game {
  background: #000;
  display: none;
}

.start-window {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/start.gif);
  display: none;
}

.logo {
  width: 650px;
}

.final-window {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/final.gif');
  display: none;
}

.final-window img {
  margin-right: 10px;
  width: 30px;
}

.start-window {
  display: none;
}

.open {
  display: block;
}

.play-btn {
  background: #47e4ec;
  border: 5px solid #258aae;
}

.choose {
  background: #262454;
  line-height: 34px;
}
